.navbar-brand {
  font-size: 1rem;
}

h3,
h6 {
  text-align: center;
}
.flex-end {
  justify-content: end;
}
.img-carousel:hover {
  filter: blur(0.5rem);
}

.btn.group {
  text-align: start;
}

.honolulu {
  background-image: url("https://i.ibb.co/2vYqPTW/honolulu.jpg");
  background-size: cover;
  /* background-position: left; */
}
.btn-verde {
  background-color: #93c921;
  border: #93c921;
  color: whitesmoke;
}
footer.bg-gradiente {
  background: linear-gradient(
    45deg,
    rgb(21 39 54) 0%,
    rgb(34 62 87 / 75%) 100%
  );
}
@media (min-width: 768px) {
  .carousel-caption {
    text-align: end;
    right: 7%;
    left: 40%;
    bottom: 1.5rem;
  }
  .carousel-caption p {
    font-size: 0.8rem;
    text-shadow: 0 0 4px black;
  }
}
